{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div style="background: green; padding: 1em; color: white;">{{ message }}</div>
    {% endfor %}
    <a href=""></a>
    {% for id , post in posts %}
        <a href="{{ path('blog_post', {'id': id}) }}">{{ post.title }}</a>
        <p>{{ post.body }}</p>
    {% endfor %}
{% endblock %}