<header>
    <section class="text-center">

        <img src="{{ asset("build/images/pink-logo.png") }}" alt="logo image" class=""
             id="logo"/>
        <h1 class="identity-header">TWETTER</h1>
    </section>
</header>